/* because I always forget how to write these...
font-family: 'Handlee', cursive;
font-family: 'Nunito', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:ital@1&display=swap');

.pagecontent, .postcontent {
    padding: 80px 15% 0 15%;
}

.wp-block-columns.errorcontent {
    padding: 40px 25% 0 25%;
}

.errorheading {
    font-family: 'Handlee', cursive;
}

.errortext {
    font-family: 'Nunito', sans-serif;
}

.aioseo-breadcrumbs {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.aioseo-breadcrumbs a:visited {
    color: white;
}

a.wp-block-post-excerpt__more-link {
    background-color: #17A2B8;
    border-radius: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}